@import "tailwindcss";

@theme {
    --color-btn-primary: #7B7BD8;
    --color-btn-secondary: #B5B5E0;
    --color-btn-hover: #4338CA;
    --color-stroke: #4E4E9A;
}

@layer components {
    .text-primary {
        @apply block text-[32px] font-bold text-gray-700;
    }

    .text-secondary {
        @apply block text-sm font-medium text-gray-700 mb-1;
    }

    .input {
        @apply rounded-md border-stroke shadow-sm focus:border-indigo-500 focus:ring-indigo-500 w-full;
    }

    .btn-primary {
        @apply inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-lg text-white bg-btn-primary hover:bg-btn-hover focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
    }

    .btn-secondary {
        @apply px-6 py-1 bg-btn-secondary text-white rounded-full text-sm hover:bg-btn-hover transition;
    }

    .page-container {
        @apply w-full h-full flex flex-col py-5 px-20;
    }

    .input_box {
        @apply border border-stroke p-2 rounded-2xl
    }

    .add-tag-area {
        @apply px-4 py-2 border border-stroke rounded-2xl text-stroke;
    }

    .tag-checkbox {
        @apply text-stroke space-x-2;
    }

    .tag {
        @apply px-6 py-2 border border-stroke text-stroke rounded-2xl text-sm;
    }
}

@layer base {
    th {
        @apply px-4 py-2 border border-gray-300 bg-[#F5F5F5] font-semibold text-stroke;
    }

    td {
        @apply px-4 py-2 border border-gray-300;
    }
}